html{
    background-color:rgb(55, 21, 88);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
    
    
}
body{
    height: 100vh;
    height: 100dvb;
    width: 100vw;
    width: 100dvw;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
   

    
}
header{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    
}

.navigation{
    text-align: right;
    display: flex;
    
    
    

}
.navlist{  
    list-style: none;
    padding-right: 35px;
    
}
.navlink{
    display: inline-block;
    padding-right: 20px;
    
    
    
}
.navlink a{
    text-decoration: none;
    color:white;
    font-family: "poppins";
    font-size: 25px;
    transition: 0.7s ease;
     
}


.navlink a:hover{
    color:gold;
    
}

.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:#37155873;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.7s ease;

}

.sidebar .navlink {
    margin: 15px;
    padding: auto;
    text-align: left;
    width: 100%;
}
.sidebar .navlink a {
    width: 100%;
    font-size: 35px;
    margin: 25px;
  
    

   
}

.sidebar a:hover{
    transform: scale(2);
    padding: 8px;
    margin: 0;
    
}

.menu{
   
    display: inline-block;
    padding: auto;
    margin: auto;
    
}

h1{
    color:white;
    margin: 15px;
    padding: 20px;
    text-align: left;
    font-size: 70px;
    padding-left: 35px;
    font-family: "permanent marker";
    font-weight: 800;
}

section{
   width: 100%;
   height: 100%;
    background-color: gold;
    
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: white solid 3px;
    border-top: white solid 3px;
}

.self1{
    
    float:right;
    
    padding-top: 30px;

}

h2{
    text-align: left;
    color: black;
    padding: 20px;
    font-size: 45px;
    margin: 25px;
    align-items: center;
    font-family: "poppins";

    

}
.span2{ 
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    color:black;
    padding-top:10px;
    
}

.row {
    display: flex;
}
.column{
    flex: 33.33%;
    padding: 5px
}
.featured{
    padding: 50px;
    align-items: center;
    display: none;
    
    
    
}
.img1{
    width: 70%;
    height: 100%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
    
}
.img1:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}

.img2{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 100px;
    box-shadow: 10px 10px 5px;
}
.img2:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}
.img3{
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
}
.img3:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}
.img5{
    width: 80%;
    height: 100%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
}
.img5:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}

.img6{
    width: 100%;
    height: 60%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
    align-items: center;
    margin-top: 100px;

}

.img6:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}
.img7{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
    align-items: center;
    margin-top: 100px;
    


}

.img7:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}
.img8{
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
    

    
}
.img8:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}
.img9{
    width: 100%;
    height: 30%;
    display: block;
    margin: auto;
    box-shadow: 10px 10px 5px;
    margin-top: 100px;

}
.img9:hover{
    transform: scale(1.15);
    transition: .5s ease-in-out;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: "poppins";
    border-top: solid white 3px;
    
    


}




@media only screen and (max-width: 1324px){
    .row {
        display: block;
    }
    .column{
        flex: 33.33%;
        padding: 5px
    }
    .img3{
        margin-top: 100px;
    }
    .img5{
        margin-top: 100px;
    }
    
    section{
        
        width: 100%;
        height: 100%;
        
    }
    h2{
        font-size: 35px;
    }
    header{
        width: 100%;
    }
    .img10{
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 50px;
}
.img11{
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 50px;

}
.img12{
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 50px;

  
}
.projects_h2{
    font-family: "permanent marker";
    background-color: gold;
    margin: 0;
    padding: 30px;
    font-size: 60px;
    text-align: center;
    border-bottom: solid white 3px;
    border-top: solid white 3px;
    display: block;
    height: 50%;
  
    
}
}
   
 .menu-button{
    display: none;

 }  
@media only screen and (max-width:1024px){
    .hideOnMobile {
        display: none;
    }
    .menu{
        height: 50px;
        width: 50px;

    }
    .menu:hover{
        background-color: #371558;
        padding: 5px;
        border-radius: 50px;
        transition: 0.3s;
    }
    .close{
        height: 50px;
        width: 50px;  
    }

    .menu-button{
        display: block;

    }
    h1{
        font-size: 50px;
    }
}

.aboutmain{
    display: block;
    height: 100%;
   

    
    
    
   
    
}
.aboutmain h2{
    text-align: center;
    font-family: "permanent marker";
    color: black;
    font-size: 60px;
    background-color: gold;
    margin: 0;
    padding: 30px;
    border-bottom: white solid 3px;
    border-top: white solid 3px;
    
}
.aboutmain h2:hover{
    color:#371558;
    transition: .05s;
    

}

.aboutmain p{
    
    color:black;
    font-family: "poppins";
    font-size: 20px;
   
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    padding-top: 50px;
    line-height: 42px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: gold;
    border: solid white 3px;
    border-radius:20px;
    display: none;

    
    
    
}


span{
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 5px;
    padding-top: 50px;
    color:#371558;
    display: none;
    
   
   
   

}

.img4{
    display:block;
    width: 100%;
  max-width: 400px;
  height: auto;
    margin:auto;
    margin-top: 60px;
  
    float: top;
    border: solid gold 5px;
    box-shadow: 10px 10px 5px;
    text-align: center;
    
    
}
.img10{
    display: block;
    width: 6%;
    height: 6%;
    text-align: center;
    border-radius: 50px;   
}
.img11{
    display: block;
    width: 6%;
    height: 6%;
    text-align: center;
    border-radius: 50px;

}
.img12{
    display: block;
    width: 2%;
    height: 2%;
    text-align: center;
    border-radius: 50px;
    

}
.logos{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.img12:hover{
    background-color:white;
    transition: 0.3s;
}
.img11:hover{
    background-color:white;
    transition: 0.3s;
}
.img10:hover{
    background-color:white;
    transition: 0.3s;
}



.contactmain h2{
    text-align: center;
    font-family: "permanent marker";
    background-color: gold;
    margin: 0;
    padding: 30px;
    font-size: 60px;
    border-bottom: solid white 3px;
    border-top: white solid 3px;
    

}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins";


}

.container form{
    width: 770px;
    height: 710px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: gold;
    flex-wrap: wrap;

}
.container form h3{
    font-weight: 800;
    line-height: 2;
    margin-top: 20px;
    font-size: 45px;
    width: 500px;
    text-align: center;
    color: #371558;

}

.contactmain form input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline:none;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #371558;
    color:#371558;
}

.container form input::placeholder{
    color:#371558;
}

.container form #lastname,
.container form #mobile {
    margin-left: 20px;
}

.container form h4 {
    color:#371558;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
    font-size: 25px;
}

.container form textarea{
    border-color:#371558;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-height: 90px;
    max-width: 90px;
    min-width: 620px;
    max-width:620px;
    font-family: "poppins";

}
.container form #button{
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-family: "poppins";
    font-size: 24px;
    width: 200px;
    height: 60px;
    margin-bottom: 30px;
    transition: 0.3s;

}


.container form #button:hover{
    background-color: #371558;
    color:white;
    transition: .5s ease-in-out;
}

.button2:hover{
    background-color:gold;
    color:#371558;
    transition: .3s ease-in-out;
}
.button2{
    border: none;
    background: white;
    border-radius: 5px;
    margin-top: 200px;
    font-weight: 600;
    font-family: "poppins";
    font-size: 26px;
    width: 200px;
    height: 40px;
  
    transition: 0.3s;
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
   

    
    
    
   
}


.button_a, a:link, a:visited{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    
   
    

}

.button_a:active{
    color:white;
}

.contactmain h2:hover{
    color:#371558;
    transition: .05s;
}


.project_main h2{
    text-align: center;
    font-family: "permanent marker";
    color: black;
    font-size: 60px;
    background-color: gold;
    margin: 0;
    padding: 30px;
    border-bottom: white solid 3px;
    border-top: white solid 3px;

    
    
   
    
}


.project_main{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;


    
}

.project_main h3{
    margin: 35px;
    padding: 10px;
    font-family: "poppins";
    font-size: 40px;
    color: black;
    background-color: gold;
    display: block;
    border-radius: 20px;
    
}

.video1{
    position: relative;
  
  padding-bottom: 56.25%; 
    margin-bottom: 20px;
    overflow: hidden;
   

}

.video1 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0px;
}

.wrapper{
    width: 80%;
    align-items: center;
    margin: 0 auto;
    border: none;
}

.project_main p{
    color: white;
    font-family: "poppins";
    font-size: 18px;
}

@media only screen and (max-width: 430px){
    body{
        height: 100vh;
        height: 100dvb;
        width: 100vw;
        width: 100dvw;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        
        
    
        
    }

 
    .aboutmain{
        height: 100vh;
        height: 100dvb;
        width: 100vw;
        width: 100dvw;
        
    }
    .aboutmain p{
        font-size: 16px;
       
        text-align: justify;
        margin: auto;
        
        padding-bottom: 57px;
        

    
       
        
    }

    .img4{
       margin:10px;
       margin-top: 15px;
       box-shadow: none;
        
    }

    footer{
        position: fixed;
        bottom:0;
        width: 100%;
        

   

    }
    header{
      
       text-align: center;
       width: 100vw;
       width: 100dvw;
    
       
    }
    h1{
        font-size: 20px;
        margin: 0;
        

    }
    .navlist{  
        list-style: none;
        padding-right: 0px;
        
    }
    
   
    }
    .navlink a{
       
        font-size: 15px;
         
    }
    
    
    .navlink a:hover{
        color:gold;
    }
  
    .aboutmain h2{
        width: 100dvw;
        text-align: center;
        
        margin: 0;
        padding: 0;
        

    }

    .container form{
        
        height: 800px;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        background: gold;
        flex-wrap: wrap;
    
    }
    .container form textarea{
        border-color:#371558;
        font-weight: 300;
        font-size: 15px;
        padding: 10px;
        outline: none;
        min-height: 80px;
        max-width: 80px;
        
        max-width:320px;
        font-family: "poppins";
    
    }

    .container form #button{
        border: none;
        background: white;
        border-radius: 5px;
        margin-top: 20px;
        font-weight: 600;
        font-family: "poppins";
        font-size: 16px;
        width: 150px;
        height: 40px;
        margin-bottom: 30px;
        transition: 0.3s;
    
    }
    .container form h4 {
        color:#371558;
        font-weight: 300;
        width: 600px;
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
    }
    .container form #lastname,
.container form #mobile {
    margin-left: 10px;
}

.contactmain h2{
    font-size: 32px;
}
.contactmain{
    padding-bottom: 57px;
}

.logos{
    padding-bottom: 67px;
    
   
    

}
.img10{
    display: block;
    width: 5%;
    height: 5%;
    text-align: center;
    border-radius: 50px;
}
.img11{
    display: block;
    width: 5%;
    height: 5%;
    text-align: center;
    border-radius: 50px;

}
.img12{
    display: block;
    width: 5%;
    height: 5%;
    text-align: center;
    border-radius: 50px;

  
}

.sidebar{
    width: 100%;
}


@media only screen and (max-width: 870px){
    footer{
        position: fixed;
        bottom:0;
        width: 100%;
        
   

    }
    .aboutmain{
        width: 100dvw;
    }
    .aboutmain h2{
        width: 100dvw;
        text-align: center;
        font-size: 60px;
        margin: 0;
        padding: 0;
        

    }
    header{
        display: inline flex;
        padding: 0;
        margin:0;
        text-align: center;
        width: 100%;
        text-align: center;
        
        
     }
    
     .navlist{  
        list-style: none;
        
       
    }
    .img10{
        display: block;
        width: 15%;
        height: 15%;
        text-align: center;
        border-radius: 50px;
    }
    .img11{
        display: block;
        width: 15%;
        height: 15%;
        text-align: center;
        border-radius: 50px;
    
    }
    .img12{
        display: block;
        width: 15%;
        height: 15%;
        text-align: center;
        border-radius: 50px;
    
      
    }
    .logos{
        padding-bottom: 67px;
    }

   .aboutmain span{
    font-size: 45px;
    text-align: center;
   }
}
@media only screen and (max-width: 770px){
    .navlink a{
        text-decoration: none;
        color:white;
        font-family: "poppins";
        font-size: 18px;
         
    }
    .navlist{  
        list-style: none;
     
       
}
.container form{
    width: 500px; 
    height: 800px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: gold;
    flex-wrap: wrap;
}
.container form #lastname,
.container form #mobile {
    margin-left: 0px;
}
.container form textarea{
    border-color:#371558;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-height: 80px;
    max-width: 80px;
    min-width: 420px;
    max-width:420px;
    font-family: "poppins";

}

}
@media only screen and (max-width: 390px){

h1{
    font-size: 20px;
}
.aboutmain h2{
    font-size: 20px;
    width: 100%;
}

.navlist{  
    list-style: none;
    padding-right: 0px;
    
}
.aboutmain p{
    display: block;
    width: auto;
    height: auto;
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}

.aboutmain span{
    
    font-size:30px;
    text-align: left;

}
   

.container form{
    width: 350px; 
    height: 800px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: gold;
    flex-wrap: wrap;
}

.container form textarea{
    border-color:#371558;
    font-weight: 300;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-height: 80px;
    max-width: 80px;
    min-width: 220px;
    max-width:220px;
    font-family: "poppins";

}

.img10{
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 50px;
}
.img11{
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 50px;

}
.img12{
    display: block;
    width: 20%;
    height: 20%;
    text-align: center;
    border-radius: 50px;

  
}
.logos{
    padding-bottom: 67px;
}
.img4{
    width: 90%;
    margin-left: 15px;
    text-align: center;
    
}
span{
    font-size: 20px;
    text-align: center;
   padding-left: 15px;
}

.contactmain h2{
    margin-bottom: 50px;
}

.menu{
    height: 30px;
    width: 30px;
}

.sidebar .navlink a{
    font-size: 20px;
}

}